<div class="bootstrap-wrapper" *ngIf="!isubmit">
   <div class="container-fluid">
       <div class="row">
        <div class="col-md-2">
            <mat-card style="margin-top: 40px;">
                <mat-card-header>Quiz will Automatically submitted Once timer reach 0 : 0</mat-card-header>
               <h4 style="margin-left: 30px;"> <b>{{getFormatedTime()}}</b></h4>
                <mat-progress-spinner style="margin:auto;"
                [mode]="mode"
                [value]="(timer/(this.quest.length *2 *60)) *100"
                ></mat-progress-spinner>
            </mat-card>
        </div>
        
        <div class="col-md-8">
            <ng-container *ngIf="quest">
               <h1> Ongoing quiz <b> {{quest[0].quiz.title}} </b></h1>
            </ng-container>
            <mat-card *ngFor="let q of quest; let i = index" class="mt10">
                <mat-card-content>
                    <p [innerText]="q.content"></p>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="radio" [value]="q.option1" [(ngModel)]="q.giveans" [name]="i" />{{q.option1}}   
                        </div>
                        <div class="col-md-6">
                            <input type="radio" class="mt10"  [(ngModel)]="q.giveans"  [value]="q.option2" [name]="i" />{{q.option2}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="radio"  [value]="q.option3" [(ngModel)]="q.giveans"  [name]="i" />{{q.option3}}
                        </div>
                        <div class="col-md-6">
                            <input type="radio" class="mt10" [(ngModel)]="q.giveans"  [value]="q.option4" [name]="i" />{{q.option4}}
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <div class="row">
                <button mat-raised-button color="primary" (click)="submitquiz()" class="mt20" style="margin-left: 40%;">Submit</button>
            </div>
        </div>
        <div class="col-md-2">
            <!--Instructions-->
            <h2>Instructions</h2>
        </div>
       </div>
   </div>
</div>

<div class="bootstrap-wrapper" *ngIf="isubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <mat-card class="mt10">
            <mat-card-content>
                <h2>Your Performance Data ‼ </h2>
             </mat-card-content>
              <mat-card-content>
               <h2>Total Correct Answer - <b> {{correctanswer}}</b> </h2>
            </mat-card-content>
              <mat-card-content>
               <h2> Total Marks Got - <b> {{marksgot}}</b></h2>
              </mat-card-content>
              <mat-card-content>
                <h2> Total Attempt - <b> {{attempted}}</b></h2>
               </mat-card-content>
               <mat-card-actions>
                   <button mat-raised-button [routerLink]="'/user-dashboard/0'"  color="primary">Home</button>
               </mat-card-actions>
          </mat-card>
        </div>
    </div>
</div>
<!-- 
{{quest | json}} -->