<div class="masthead">
  <div class="masthead-content text-black">
      <div class="container-fluid px-8 px-lg-0">
          <h1 class="fst-italic lh-1 mb-8" style="text-align: center;">Employee Management System</h1>
         
          
      </div>
  </div>
</div>


<h1 style="text-align: center;">Employe Details</h1>

<!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email_Id</th>
        <th scope="col">Phone_Number</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employee">
        <th scope="row">{{emp.id}}</th>
        <td>{{emp.firstname}}</td>  
        <td>{{emp.lastname}}</td>
        <td>{{emp.email_id}}</td>
        <td>{{emp.phone_number}}</td>
        <td><button (click)="updteEmployee(emp.id)" class="btn btn-info">Update</button> &nbsp;
        <button (click)="deleteEmployee(emp.id)" class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
</table> -->


<div class="container">
  <div class="main-body">
  
        <!-- Breadcrumb -->
        <!-- <nav aria-label="breadcrumb" class="main-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav> -->
        <!-- /Breadcrumb -->
  
        <div class="row gutters-sm" style="border: 3px  dotted rgb(75, 56, 56);border-width: 5px ;">
          <button class="btn btn-primary" routerLink="/create"> Create Employee</button>
          <div class="col-md-7">
            <div class="card mb-3">
              <div class="card-body" *ngFor="let emp of employee">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">First Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                   {{emp.firstname}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Last Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{emp.lastname}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email Id</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    
                    {{emp.email_id}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Mobile</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{emp.phone_number}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-12">
                  <button (click)="updteEmployee(emp.id)" class="btn btn-info">Update</button> &nbsp;
                  <button (click)="deleteEmployee(emp.id)" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>