<mat-card>
    <h1>Add Quiz...</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2" >
                <form (ngSubmit)="addquizz()">
                    <div class="container" style="margin-left: 85%;">
                    <mat-slide-toggle name="active"
                      [(ngModel)]="addquiz.active">
                     Publish!
                 </mat-slide-toggle>
                </div> <br>
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Enter the Title</mat-label>
                        <input [(ngModel)]="addquiz.title"
                         type="text" name="title" matInput placeholder="Enter the title" >
                    </mat-form-field>

                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Enter the Description</mat-label>
                        <textarea [(ngModel)]="addquiz.description" 
                        type="text" name="description" matInput placeholder="Enter the description" appearence="outline"></textarea>
                    </mat-form-field>
                    <div class="row">
                        <div class="container col-md-6">
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Enter the Max marks</mat-label>
                        <input [(ngModel)]="addquiz.maxMarks"
                         type="text" name="maxMarks" matInput placeholder="Enter the max marks" appearence="outline">
                    </mat-form-field>
                    </div>
                    <div class="conatainer col-md-6">
                    <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Enter the Number of questions</mat-label>
                        <input [(ngModel)]="addquiz.numberOfQuestions" 
                        type="text" name="numberOfQuestions" matInput placeholder="Enter the Number of questions" appearence="outline">
                    </mat-form-field>
                </div>
                
                </div>
                    <!-- <mat-form-field style="width: 100%;" appearance="fill">
                        <mat-label>Enter the Title</mat-label>
                        <input type="text" name="title" matInput placeholder="Enter the title" appearence="outline">
                    </mat-form-field> -->

                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Categories</mat-label>
                        <select matNativeControl name="category" [(ngModel)]="addquiz.category.cid">
                          <option value="" selected></option>
                          <option *ngFor="let c of quizdata" [value]="c.cid">
                            {{c.title}}
                          </option>
                        </select>
                      </mat-form-field>

                      <div class="container" style="margin-left: 40%;">
                          <button mat-raised-button color="primary">Add</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>

<!-- {{addquiz | json}} -->
