<mat-card>
    <h1>All Categories</h1>
    <mat-list>
        <mat-list-item *ngFor="let c of categories">
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{c.title}}</div>
            <div mat-line>{{c.description}}</div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

    <div class="container">
        <button routerLink="/admin/add-category" mat-raised-button color="primary" class="mt20" style="margin-left: 40%;">Add category</button>
    </div>

</mat-card>