<h1 style="text-align: center;">Add Employee</h1> <br> <br>

<form (ngSubmit)="onsubmit()">
    <div class="form-group ">
      <!-- <label for="exampleInputEmail1">First Name</label> -->
      <input type="email" [(ngModel)]="employee.firstname" name="firstname" class="form-control" id="exampleInputEmail1"  placeholder="Enter First Name">
      
    </div> <br>
    <div class="form-group">
      <!-- <label for="exampleInputPassword1">Password</label> -->
      <input type="text" [(ngModel)]="employee.lastname" name="lastname" class="form-control" id="exampleInputPassword1" placeholder="Enter Last Name">
    </div> <br>

    <div class="form-group">
        <!-- <label for="exampleInputPassword1">Password</label> -->
        <input type="text" [(ngModel)]="employee.email_id" name="email_id" class="form-control" id="exampleInputPassword1" placeholder="Enter email">
      </div> <br>


      <div class="form-group">
        <!-- <label for="exampleInputPassword1">Password</label> -->
        <input type="text" [(ngModel)]="employee.phone_number" name="phone_number" class="form-control" id="exampleInputPassword1" placeholder="Enter Phone Number">
      </div> <br>

   
    <button type="submit" class="btn btn-primary">Submit</button> <br>
  </form>