<mat-card>
    <h1>Add the Categories...</h1>
    <mat-card-content>
        <!-- {{category | json}} -->
        <form (ngSubmit)="submitform()">
        <mat-form-field style="width: 50%; margin-left: 20%;" appearance="outline">
            <mat-label>Title</mat-label>
            <input [(ngModel)]="category.title"
            type="text"
            name="title"
            matInput
            placeholder="Enter the title">
        </mat-form-field>

        <mat-form-field style="width: 50%; margin-left: 20%;" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea [(ngModel)]="category.description"
            type="text"
            name="description"
            matInput
            placeholder="Enter the description"></textarea>
        </mat-form-field>
        <div class="container" style="margin-left: 33%;">
            <button mat-raised-button color="primary">Add</button>
        </div>
    </form>
    </mat-card-content>
    
</mat-card>