<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to <b> {{quiz.title}} </b> </h1>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Read the dscription of this page carefully!
                        <mat-divider></mat-divider>
                        <h2 class="mt20">{{quiz.category.title}}</h2> 
                        <mat-card-content>
                            {{quiz.description}}

                            <mat-divider></mat-divider>
                            <h2>Important Instructions</h2>
                            <ul>
                                <li>Once start the quiz, There is not going back!</li>
                                <li>No negative mnarking.</li>
                                <li>This Question paper is for practice only! hence it contians {{quiz.maxMarks}} Marks.</li>
                                <li>For this question paper you have only {{quiz.numberOfQuestions*2}} Minutes.</li>
                                <li>You can attempt this question paper again any number of times.</li>
                                <li>Each Question carry {{quiz.maxMarks/quiz.numberOfQuestions}} marks.</li>
                                <li>All Questions are MCQ types.</li>
                            </ul>
                            <mat-divider></mat-divider>
                            <mat-card-actions >
                                <h1>Attempting</h1>
                                <ul>
                                    <li>You can start Quiz By clicking on <b>start</b> Button.</li>
                                    <li>Once you start the quiz, the timer will start automatically.</li>
                                    <li>Finish the test in a given time.</li>
                                    <li>Scroll down to see other questions</li>
                                    <li>click on <b>submit</b> button if you are donw with you exam.</li>
                                </ul>
                                <button mat-raised-button (click)="confirmTest()" color="primary" style="margin-left: 40%;">start</button>
                            </mat-card-actions>
                        </mat-card-content>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>
    </div>
</div>