.image-url{
    max-width: 150px;
    max-height: 150px;
    border: 2px solid rgb(226, 45, 45);
    border-radius: 50%;
    
}
.table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.table tr td{
    padding: 15px 10px;
    border: 0.45px solid #f5f5ff;
}