

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="./assets/images/logo.jpg" alt=".....">
                </div>
                <h1 class="text-center">Register Here!!✔</h1>
                <!-- {{user | json}} -->
                <form (ngSubmit)="submit_form()">
                    <!--FIRST NAME -->
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.firstname" name="firstname" type="text"
                         matInput placeholder="Ex. jackie"
                         >
                         
                    </mat-form-field>

                    <!--LAST NAME -->
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input
                        required
                         [(ngModel)]="user.lastname" name="lastname" type="text"
                         matInput placeholder="Ex. chain">
                    </mat-form-field>

                    <!--User NAME -->
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>username</mat-label>
                        <input
                        required
                         [(ngModel)]="user.username" name="username" type="text"
                         matInput placeholder="Ex. chain">

                         <mat-hint>username must be unique !!</mat-hint>
                    </mat-form-field>

                    <!--Email -->
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Email Address</mat-label>
                        <input
                        required
                         [(ngModel)]="user.email" name="email"
                         type="email" matInput placeholder="xyz@gmail.com">
                    </mat-form-field>

                    <!--Password -->
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        required
                         [(ngModel)]="user.password" name="password"
                        type="text" matInput placeholder="*******">
                    </mat-form-field>


                    <!--Phone -->
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input
                        required
                         [(ngModel)]="user.phone" name="phone"
                        type="number" matInput placeholder="99999999">
                    </mat-form-field>
                    <!-- 
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                    </mat-form-field> -->
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Submit</button> &nbsp;
                        <button mat-raised-button color="accent">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>