<mat-card>
    <h1>Your profile details...</h1>
  <!-- {{user | json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="" class="image-url" style="margin-left: 40%;">
                <h1 style="margin-left: 41%;">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tbody>
                                <tr>
                                    <td>Username</td>
                                    <td>{{user.firstName}}</td>
                                </tr>
                                <tr>
                                    <td>Username</td>
                                    <td>{{user.lastName}}</td>
                                </tr>
                           <tr>
                               <td>Username</td>
                               <td>{{user.username}}</td>
                           </tr>
                           <tr>
                               <td>Userid</td>
                               <td>{{user.id}}</td>
                           </tr>
                           <tr>
                            <td>Phone</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>{{user.profile}}</td>
                        </tr>
                           <tr>
                               <td>Phone</td>
                               <td>{{user.phone}}</td>
                           </tr>
                           <tr>
                               <td>Role</td>
                               <td>{{user.authorities[0].authority}}</td>
                           </tr>
                           <tr>
                               <td>Status</td>
                               <td>{{user.enabled?"Active":"Deactivated Account"}}</td>
                           </tr>
                        </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions style="margin-left: 40%;">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="accnet">Share</button>
    </mat-card-actions>
</mat-card>